body {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}
body h2 {
    font-weight: 700;
    text-align: left;
    font-size: xx-large;
    color: rgb(33, 139, 139);
    text-shadow: yellow 2px 7px 10px;
}
.cal-box{
    background-color: rgb(0, 189, 85);
    border-radius: 15px;
    max-width: 360px; 
    height: 430px;
}
#display{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    left: 9.5px;
    top: 10px;
    max-width: 340px;
    height:70px;
}
#screen{
    color: white;
    text-align: right;
    font-family:monospace;
    padding:9px;
    margin-right: 21px;
    font-weight: 800;
    font-size: 40px;
}
#keys {
    position: relative;
    top: 17px;
    left: 9.5px;
    background-color: gray;
    border-radius: 9px;
    max-width:340px;
    height: 330px;
}
#keys-r1 {
    display: flex;
    position: absolute;
    justify-content:left;
    margin-left: 8px;
    margin-top:15px ;
    gap: 14px;
}
#keys-r2{
    display: flex;
    position: absolute;
    justify-content:left;
    margin-left: 8px;
    margin-top:77px ;
    gap: 14px;
}
#keys-r3{
    display: flex;
    position: absolute;
    justify-content:left;
    margin-left: 8px;
    margin-top:140px ;
    gap: 14px;
}
#keys-r4{
    display: flex;
    position: absolute;
    justify-content:left;
    margin-left: 8px;
    margin-top:200px ;
    gap: 14px;
}
#keys-r5{
    display: flex;
    position: absolute;
    justify-content:left;
    margin-left: 8px;
    margin-top:260px ;
    gap: 14px;
}
button{
    padding: 6px;
    padding-bottom: 13px;
    padding-top: 13px;
    font-weight: 900;
    background-color: rgb(255, 68, 0);
    color: white;
    font-family: monospace;
    text-align: center;
    font-size:20px;
    width: 70px;
    border-radius: 10px;
}
